.main {
    margin-top: 50px;
    text-align: center;
    font-size: larger;
}
.city-name {
    justify-content: center;
    text-align: center;
    width: 600px;
}
.zip-code {
    justify-content: center;
    text-align: center;
    width: 600px;
}
